[Unit]
  Description=cifs mount script
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=//{{ cifs_server}}/{{ cifs_share}}
  Where={{ cifs_mountpoint }}
  Options=credentials={{ cifs_credentials_file }},rw,x-systemd.automount,uid={{ cifs_uid }},gid={{ cifs_gid }}
  Type=cifs

[Install]
  WantedBy=multi-user.target
