[Unit]
  Description=cifs mount script
  Requires=network-online.target
  After=network-online.service

[Automount]
  Where={{ cifs_mountpoint }}
  TimeoutIdleSec=10

[Install]
  WantedBy=multi-user.target
